@media screen and (max-width: 768px) {
	
	.container {
		padding: 30px;
	}

	// HEADER

	header {
		padding-bottom: 60px;
	}

	nav {
		padding-bottom: 25px;
	}

	.nav-list {
		display: none;
		position: absolute;
		right: 6%;
		width: 25%;
		text-align: right;
		padding-right: 25px;
		background-color: rgba(52,51,54,.8);
	} 

	.nav-list-item {
		padding-bottom: 5px;
	}

	.nav-bar {
		float: right;
		display: block;
		font-size: 24px;
		color: white;
	}

	.nav-welcome {
		font-size: 34px;
	}

	.nav-meet {
		font-size: 48px;
	}

	.nav-button {
		width: 170px;
		padding: 15px 0;
	}

	// end of HEADER

	// CERVICES
	.cervices-list-item {
		width: 100%;
		padding: 20px 0;
		border-bottom: 1px solid #777;

		&:last-child {
			border-bottom: none;
		}
	}	
	// end of CERVICES

	// PORTFOLIO

	.portfolio-list-item {
		width: 100%;
		padding: 20px 0;
	}

	.portfolio-image {
		width: 70%;
	}

	.portfolio-block {
		width: 70%;
		margin: 0 auto;
	}

	// end of PORTFOLIO

	// ABOUT

	.about-list-item {
		width: 100%;
		text-align: center;

		&:nth-child(even) {
			text-align: center;
		}
	}

	.about-image {
		float: none;
		display: block;
		margin: 0 auto;
		width: 50%;
	}

	// end of ABOUT

	// TEAM
	.team-list-item {
		width: 100%;
		padding: 20px 0;
		border-bottom: 1px solid #777;
	}
	// end of TEAM

	// CONTACT
	.form-part {
		width: 100%;
		
		&:first-child {
			margin-right: 0;
		}
	}

	// end of CONTACT

	// FOOTER
	.container-footer {
		text-align: center;
	}

	.footer-text {
		padding-right: 0;
		padding-left: 0;
	}

	.footer-socials {
		display: block;
	}
	// end of FOOTER
}

@media screen and (max-width: 480px) {

	.container {
		padding: 30px 5px;
	}

	.text-under-header {
	    line-height: 20px;
	}

	// NAV

	.nav-logo {
		float: none;
		text-align: center;
	}

	.nav-list {
		float: none;
		margin: 0 auto;
		padding: 10px 50px;
		width: 50%;
		text-align: center;
		right: 25%;
		background-color: rgba(52,51,54,1);
	} 

	.nav-list-item {
		padding-left: 0;
	}

	.nav-bar {
		float: none;
		padding-top: 10px;
		text-align: center;
	}
	// end of NAV

	// CERVICES

	.cervices-list {
	    padding-top: 10px;
	}

	// end of CERVICES

	// PORTFOLIO

	.portfolio-image {
		width: 100%;
	}

	.portfolio-block {
		width: 100%;
		margin: 0 auto;
	}

	// end of PORTFOLIO

	// TEAM
	.team-name-post {
		width: 100%;
	}
	// end of TEAM

	// LOGOS

	.container-logo {
		text-align: center;
	}

	.logos-link {
		width: 100%;
		margin: 14px 0;
		padding: 0;
	}

	.logos-image {
		width: 50%;
	}
	// end of LOGOS

	// CONTACT 
	

	.contact-input,
	.contact-textarea {
		padding: 10px;
	}

	// end of CONTACT


}